@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

*
{
    border-radius: 0 !important;

}
html
{
    overflow-x: hidden; 
}
html,
body {
    padding-top: 50px;

    min-height: 100%;
}
body
{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
    position: relative;
    overflow-x: hidden; 

}
body ,a 
{
    color: #FFF;
    text-shadow: rgba(255,255,255,0.4);
}
button
{
    outline: none;
}
a , a:hover, a:visited 
{
    text-decoration: none;
    color: #FFF ;
}

a:focus
{
    color: #FFF !important;
}
a:hover 
{
    color: #FFD800 !important;
}
div
{
    display: block;
}
h1 , h2 , h3 , h4 , h5 , h6
{
    line-height: 1.1;
    text-transform: uppercase;
}
li
{
    list-style-type: none;
}
#green-light
{
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.block-area
{
    width: 100%;
    float: left;
}
#wrapper
{
    height: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}
.content-wrapper
{
    background: none;
    display: block;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.breadcrumb
{
    background: none;
    float: right;
    margin: 0;
    padding: 8px 15px;
    font-size: 11px;
}

.breadcrumb > li .active
{
    color: #FFD800;
}
.page-title
{
    text-transform: uppercase;
    padding: 8px 15px 9px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    margin-bottom: 15px;
}
.wrapper-bg
{
    border: 1px solid rgba(255,255,255,0.05);
    padding: 7px;
/*    text-shadow : 0 0 3px rgba(0,0,0,1);*/
    background: rgba(34,45,54,0.40);
}

.char-name
{
    text-shadow : 0 0 3px rgba(0,0,0,1);
}

/*!
 * 	NAVBAR
 */
#main-header , .navbar-header, .navbar-brand
{
    display: block;	
}
.navbar
{
    border-bottom: 1px solid rgba(255,255,255,0.15);
}
#main-header .navbar-brand
{
    position: absolute;
    top: -15px;
    padding-bottom: 15px;
}
#main-header .navbar
{
    background: rgba(34,45,50,1);
    z-index: 4000;
}


#main-header .navbar-collapse  a
{
    font-size: 15px;
    text-transform: uppercase;
}

#main-header .nav > li > a:hover, .nav > li > a, .nav > li > a:focus , .nav > li > a:visited
{
    background:rgba(34,45,50,1) !important;
}


.navbar-toggle {
    font-size: 35px;
    position: relative;
    float: right;
    padding: 0px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
 }
 .navbar-left
{
    margin-left: 75px;
}

.navbar-right
{
    margin-right: 15px;
}
.navbar-right p
{

    font-size: 15px;
    padding-top:15px;
}
.navbar-right .dropdown-menu
{
    padding: 7px;
    background: rgba(34,45,54,1);
    border: none;
}
.navbar-right > .user-menu > .dropdown-menu > .user-body
{
    border : none;
}
.navbar-right > .user-menu > .dropdown-menu > .user-footer
{
    background : none;
}
@media (max-width:991px)
{
    .navbar-collapse > .navbar-nav > li > .dropdown-menu
    {
        background: rgba(34,45,50,1);
        border: none;
    }
    .navbar-right
    {
        margin:auto;
    }
    .navbar-left
    {
        margin:auto;
    }
    
}
.navbar-right input , .navbar-right input:hover , .navbar-right input:focus , .navbar-right input:visited
{
    border: 1px solid rgba(255,255,255,0.05);
    width: 200px;
    background: rgba(34,45,54,0.15);
    margin-top : 7px;
    margin-bottom: 7px;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,255,255,0.6);
}
.nav .open > a , .nav .open > a:focus , .nav .open > a:hover , .nav .open > a:visited
{
    background:rgba(34,45,54,0.35);
}
.dropdown-menu > li  button
{
    text-align: center;
    color : #FFF;
    font-size: 12px;
    text-transform: uppercase;
    border:none;
    padding:5px;
    background: -moz-linear-gradient(top, rgba(34,45,50,1) 0%, rgba(34,45,50,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,45,50,1) 0%,rgba(34,45,50,0.1) 100%);
    background: linear-gradient(to bottom, rgba(34,45,50,1) 0%,rgba(34,45,50,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222d32', endColorstr='#1a222d32',GradientType=0 );
}
.dropdown-menu > li  button:hover , .dropdown-menu > li  button:focus , .dropdown-menu > li  button:active
{
    color : #FFF;
    font-size: 12px;
    text-shadow: 0 0 3px rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(34,45,50,0.1) 0%, rgba(34,45,50,1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,45,50,0.1) 0%,rgba(34,45,50,1) 100%);
    background: linear-gradient(to bottom, rgba(34,45,50,0.1) 0%,rgba(34,45,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a222d32', endColorstr='#222d32',GradientType=0 );
}
.dropdown-menu > li > a
{
    text-align: center;
    color : #FFF;
    font-size: 12px;
    text-transform: uppercase;
    border:none;
    padding:10px;
    background: -moz-linear-gradient(top, rgba(34,45,50,1) 0%, rgba(34,45,50,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,45,50,1) 0%,rgba(34,45,50,0.1) 100%);
    background: linear-gradient(to bottom, rgba(34,45,50,1) 0%,rgba(34,45,50,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222d32', endColorstr='#1a222d32',GradientType=0 );
}

.dropdown-menu > li > a:hover , .dropdown-menu > li > a:focus , .dropdown-menu > li > a:active
{
    color : #FFF;
    font-size: 12px;
    text-shadow: 0 0 3px rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(34,45,50,0.1) 0%, rgba(34,45,50,1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,45,50,0.1) 0%,rgba(34,45,50,1) 100%);
    background: linear-gradient(to bottom, rgba(34,45,50,0.1) 0%,rgba(34,45,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a222d32', endColorstr='#222d32',GradientType=0 );
}

.btn-nav, .btn-nav:visited , .btn-nav:focus 
{
    background: none;
    color : #FFF;
    outline: none;
    border: none;
}
.btn-nav:hover , .btn-nav:active 
{
    background: none;
    color: #FFD800;
    outline: none;
    border: none;
}
/*!
 * FOOTER
 */

.main-footer-copy
{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    background:rgba(34,45,50,1);
    margin-top: 15px;
    border-top: 1px solid rgba(255,255,255,0.15);
    z-index: 2000;
}

/*!
 * CONTAINER
 */

.jumbotron
{
    background: rgba(34,45,54,0.40);
    padding: 7px;
}
.btn-primary, .btn-primary:visited , .btn-primary:focus 
{
    background: none;
    border: 1px solid rgba(255,255,255,0.31);
}
.btn-primary:hover , .btn-primary:active 
{
    background: rgba(34,45,50,0.30) !important;
    color: #000;
    border: 1px solid rgba(255,255,255,0.31) !important;
}
.panel-default
{
    margin-top: 10px;
    background: rgba(34,45,54,0.40);
    border : none;
}
.panel-default > .panel-heading
{
    color: #FFF;
    border: none;
    background : rgba(34,45,54,0.40);
}
.panel-default > .panel-body
{
    text-align: justify;
}
.panel-default > .panel-footer
{
    border: none;
    background : none;
}
.comment
{
    background : rgba(34,45,54,0.30);
}


/*!
 *	TABLE
 */
.block-title
{
    background: rgba(34,45,54,0.35);
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px 5px;
    display: inline-block;
    letter-spacing: 0.5px;
}
table
{
    max-width: 100%;
}
.tile
{
    background: rgba(34,45,54,0.35);
    box-shadow: rgba(0,0,0,0.15);
    margin-bottom: 15px;
}
thead
{
    text-transform: uppercase;
    text-shadow: rgba(255,255,255,0.4);
}
.table th
{
    background: rgba(34,45,54,0.35);
    border-color: rgba(255,255,255,0.05) !important;
    text-shadow: rgba(255,255,255,0.4);
}
.table td
{
    border-color: rgba(255,255,255,0.05) !important;
    text-shadow: rgba(255,255,255,0.4);

}
.table-bordered
{
    border: 0;
}
.table-bordered > thead > tr > th
{
    border: 1px solid rgba(255,255,255,0.05);
}
table .zf-title
{
    border: none;
    background: rgba(34,45,54,0.7);
}
table > thead > tr:first-child
{
    display: none;
}

.table-striped > tbody > tr:nth-of-type(odd)
{
    background: rgba(34,45,54,0.3);
}
.table-striped > tbody > tr:nth-of-type(odd):hover
{
    background: rgba(34,45,54,0.7);
}
.table-striped > tbody > tr:nth-of-type(even)
{
    background: rgba(34,45,54,0.15);
}
.table-striped > tbody > tr:nth-of-type(even):hover
{
    background: rgba(34,45,54,0.7);
}

.pagination > .active > a
{
    background: rgba(34,45,54,0.7);
    border : 1px solid rgba(255,255,255,0.05);
    color : #FFD800;
}
.pagination > .active > a:hover , .pagination > .active > a:focus
{
    background: rgba(34,45,54,0.7);
    color : #FFD800;
    border : 1px solid rgba(255,255,255,0.05);
}
.pagination > .disabled > a , .pagination > .disabled > a:hover , .pagination > .disabled > a:focus , .pagination > li > a , .pagination > li > a:hover , .pagination > li > a:focus
{
    background: rgba(34,45,54,0.5);
    border: none;
    border : 1px solid rgba(255,255,255,0.05);
}
.pagination > li > a  
{
    color : #FFF;
}
.pagination > li > a:hover , .pagination > li > a:focus
{
    color : #FFD800;
}
.form-control
{
    background : rgba(34,45,54,0.5);
    color : #FFF;
    border: 1px solid rgba(255,255,255,0.05);
}
/*!
 * FORM
 */
.form-title
{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin: 0;
}
.form-create-account , .form-login , .form-forget
{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 20px;
    width: 345px; 
    border: 1px solid rgba(255,255,255,0.15);
    background: rgba(34,45,54,0.35);
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
    
}

.form-login
{
    width: 244px;
}

.form-create-account dt , .form-login dt , .form-forget dt
{
    padding-top: 5px;
}
.form-create-account dd , .form-login dt , .form-forget dd
{
    padding-bottom: 5px;
}
.form-create-account input , .form-login input , .form-forget input
{
    border: 1px solid rgba(255,255,255,0.05);
    width: 200px;
    background: rgba(34,45,54,0.15);
}
.form-forget input
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.form-create-account input:focus , .form-login input:focus , .form-forget input:focus
{
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,255,255,0.6);
}
.form-create-account button , .form-login button , .form-forget button
{
    text-transform: uppercase;
    border:none;
    padding:10px;
    background: -moz-linear-gradient(top, rgba(34,45,50,1) 0%, rgba(34,45,50,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,45,50,1) 0%,rgba(34,45,50,0.1) 100%);
    background: linear-gradient(to bottom, rgba(34,45,50,1) 0%,rgba(34,45,50,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222d32', endColorstr='#1a222d32',GradientType=0 );
    
}

.form-forget button
{
    margin-top: 7px;
}

.form-create-account button:hover , .form-login button:hover , .form-forget button:hover
{
    text-shadow: 0 0 3px rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(34,45,50,0.1) 0%, rgba(34,45,50,1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,45,50,0.1) 0%,rgba(34,45,50,1) 100%);
    background: linear-gradient(to bottom, rgba(34,45,50,0.1) 0%,rgba(34,45,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a222d32', endColorstr='#222d32',GradientType=0 );
}
.form-create-account button:focus , .form-login button:focus , .form-forget button:focus
{
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,255,255,0.6);
}
.form-create-account ul , .form-create-account li , .form-login ul , .form-login li , .form-forget ul , .form-forget li
{
    list-style: none;
    color: red;
    text-shadow: none;
}

/*!
 * ALERT
 */
.alert-dismissible
{
    background: rgba(255,255,255,0.7);
    border:none;
}
.alert-danger
{
    background: rgba(255,255,255,0.7);
    border-left: 5px solid rgb(255,73,73);
    color: rgb(219,0,32);
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
}
.alert-success
{
    background: rgba(255,255,255,0.7);
    border-left: 5px solid rgb(0,117,5);
    color: rgb(0,117,5);
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
}
.alert-info
{
    background: rgba(255,255,255,0.7);
    border-left: 5px solid rgb(0,160,219);
    color: rgb(0,160,219);
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
}
.alert-warning
{
    background: rgba(255,255,255,0.7);
    border-left: 5px solid rgb(0,193,193);
    color: rgb(0,193,193);
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
}
.alert-danger h4, alert-success h4, .alert-info h4, .alert-warning h4
{
    display: none;
}
.alert-danger p, alert-success p, .alert-info p, .alert-warning p
{
    font-size:15px;
}


/*!
 * BUTTON
 */
.btn-success
{
    border: 1px solid rgba(0,0,0,0.05);
    background: rgba(68,157,68,1);
    margin: 7px 0 7px;
}
.btn-success:hover , .btn-success:focus
{
    text-shadow: 0 0 3px rgba(255,255,255,1);
    border: 1px solid rgba(0,0,0,0.05);
    background: rgba(68,157,68,1);
}

.note
{
    font-size: 10px;
}
/*!
 * PANEL 
 */

.loot 
{
    padding: 0;
    margin-bottom: 1px;
    background: rgba(34,45,54,0.40);
    width: 100%;
    
}
.list-loot
{
    padding: 0 1px 1px 1px;
}
.panel-collapse
{
    padding: 5px;
}
.panel-head
{
    padding: 5px;
    background: rgba(34,45,54,0.5);
}
@media (max-width: 768px) {
    .loot
    {
       width:100%; 
    }
    .list-loot
    {
        padding-top: 1px;
    }
}


/*!
 * BOX
 */
.box
{
    padding: 0;
    background : rgba(34,45,54,0.40);
    text-align: center;  
    border: none;
}
.stats
{
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.box ul
{
    padding-left: 0px;
}
.box label
{
    text-transform: uppercase;
    width: 100%;
    background: rgba(34,45,54,0.70);
    padding: 6px;
}


/*!
 * CHARTS
 */
.columnchart text
{
    fill : #FFF;
}

.donutchart text
{
    fill : #FFF;
}


/*
 *! WIDGET
 */

#twitter-widget-0
{
    background: #292F33;
}
.control-sidebar
{
    position: fixed;
    width: 250px;
    height: 100%;
    right: -250px;
    z-index: 2;
}
.tab-content div
{
    padding-bottom: 15px;
}