<?php

$dbParams = array(
    'database' => 'raid_tracker',
    'username' => 'root',
    'password' => 'root',
    'hostname' => 'localhost'
);
return array(
    'db' => array(
        'driver' => 'pdo',
        'dsn' => 'mysql:dbname=' . $dbParams['database'] . ';host=' . $dbParams['hostname'],
        'database' => $dbParams['database'],
        'username' => $dbParams['username'],
        'password' => $dbParams['password'],
        'hostname' => $dbParams['hostname'],
        'driver_options' => array(
            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''
        )),
    'urlProjet' => 'dev.raid-tracker.com',
    'zf-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(
                'blizzard' => array(
                    'adapter' => 'ZF\\MvcAuth\\Authentication\\HttpAdapter',
                    'options' => array(
                        'accept_schemes' => array(
                            0 => 'basic',
                        ),
                        'realm' => 'api',
                        'htpasswd' => 'data/htpasswd',
                    ),
                ),
                'rtk' => array(
                    'adapter' => 'ZF\\MvcAuth\\Authentication\\HttpAdapter',
                    'options' => array(
                        'accept_schemes' => array(
                            0 => 'basic',
                        ),
                        'realm' => 'api',
                        'htpasswd' => 'data/htpasswd',
                    ),
                ),
            ),
            'map' => array(
                'APIrTk\\V1' => 'rtk',
                'APIBlizzard\\V1' => 'blizzard',
            ),
        ),
    ),
);
